#_footer {
    background: black;
    height: 150px;
    width: 100%;
    display: flex;
    .__logoSocial{
        display: flex;
        color: white;
        font-size: 30px;
        width: 25%;
    }
    .__footer--center{
        color: white;
        width: 50%;
        
    }
    .__derechos {
        background-position: unset;
    }
}
