<section id="_footer">

    <div class="__logoSocial">   
        <center>
            <i class="zmdi zmdi-instagram"></i> 
            <i class="zmdi zmdi-twitter"></i>
            <i class="zmdi zmdi-facebook-box"></i>
            <i class="zmdi zmdi-whatsapp"></i>
        </center>
    </div>
    
    <div class="__footer--center">
        <center>
        <a href="/aboutUs"><h4>¿Quienes somos?</h4></a>
        <a href="/contact">¿Desea registras su restaurante?</a>
        </center>
    </div>
    <div class=" __derechos">
        <h6>Todos los derechos reservados.</h6>
    </div>


</section>

</body>
</html>