<%- include ('masterPage/header') %>
<article class="grid_containerUser">
<section id="section-contact" class="grid_containerUser main ">

        <div class="paragrh1">
            <p class="__p--contact"> 
                <br>
                <h3>¿Quieres que tú restaurante salga en la página?</h3>
                <br>
                Es muy sencillo, mande la siguiente información al correo :  reservaRestaurante@gmail.com.
                <br>
                Cédula Jurídica.
                <br>
                Días hábiles (Lunes-Martes-Miércoles-etc).
                <br>
                Horas hábiles (Ejm: De 6am a 10pm).
                <br>
                Telefono (#### ####).
                <br>
                Una foto que represente sú restaurante.
                <br>
                Una foto del menu o de algunos platillos que quiera que se muestren en la página.
                <br>
                Descripción del Restaurante (Tipo de comida que preparan ejem: Comida Rápida).

            </p>

        </div>


</section>
</article>
<%- include ('masterPage/footer') %>