<%- include ('masterPage/header') %>
<article class="grid_containerUser">
<section id="section-help" class="grid_containerUser main">

        <div class="help__paragraph">
            <p class="__p--contact"> 
                <br>
                <h3>Preguntas frecuentes</h3>
                <br>
                <h5> ¿Como hago para reservar un restaurante?</h5>
                R/ Primero debes de crearte una cuenta, presionando el ícono de persona en el lado
                superior/derecho, donde dice crear cuenta, si ya la tienes , solo debes de iniciar sesión
                buscar el restaurante que ya decidiste, llenar los datos que te solicitan y dar reservar.
                <br>
                <h5>¿Cómo encuentro un restaurante que esté cerca de casa?</h5>
                <br>
                R/ Si estas en la página inicial, debes darle click donde dice “Ver más restaurantes” y
                 escribir en el buscador el nombre de tú provincia y encontraras algunas opciones


            </p>

        </div>


</section>
</article>
<%- include ('masterPage/footer') %>