
 <%- include ('masterPage/header') %>
 <article class="grid_containerUser main">
  <h1 class="title">Login</h1>

  <div class=" container container__color container__login">
    <form action="/authenticate" method="post">

      <div class="text">

        <div class="text text--user">
          <label class="" for="disabledInput">Email:</label>
          <input type="text" name="email" value="" placeholder="ejemplo@gmail.com" class="intputLogin inputLogin__email">
        </div>

        <div class="text text--password">
          <label class="" for="disabledInput">Contraseña:</label>
          <input type="text" name="contrasenna" value="" placeholder="********" class="intputLogin inputLogin__password">
        </div>
      </div>
      

      <button type="submit" idea="btnGuarda" class="btnLogin btnLogin__cancelar">Cancelar</button>
      <button type="submit" idea="btnGuarda" class="btnLogin btnLogin__login">Loguear</button>

      <section class="">
        <label class="linkAddUser" >¿Aún no te has registrado? <a class="linkAddUser__colorLink" href="/registroU">¡Registraste ahora!</a></label>
      </section>

    </form>
  </div>
</article>
    <%- include ('masterPage/footer') %>
 
