<%- include ('masterPage/header') %>

<section>
    
    <div class="card mb-3">
       <div class="row no-gutters">
         <div class="col-md-4">
           <div class="__imgRestaurant5"></div>
         </div>
         <div class="col-md-8">
           <div class="card-body">
             <h5 class="card-title">Acerca de nosotros</h5>
             <p class="card-text">Somos una empresa conformada por 
               muchos usuarios, que buscan ayudar 
               a las personas que quieran encontrar un 
               restaurante, que benefecie sus el estilos 
               de vida, ofreciendoles  alternativas  
               mejorando la búsqueda de los lugares 
               que deseen visitar.</p>
           </div>
         </div>
       </div>
     </div>

    <div class="card mb-3">
       <div class="row no-gutters">
         <div class="col-md-4">
           <div class="__imgRestaurant6"></div>
         </div>
         <div class="col-md-8">
           <div class="card-body">
             <h5 class="card-title">Acerca de nosotros</h5>
             <p class="card-text">Somos una empresa conformada por 
               muchos usuarios, que buscan ayudar 
               a las personas que quieran encontrar un 
               restaurante, que benefecie sus el estilos 
               de vida, ofreciendoles  alternativas  
               mejorando la búsqueda de los lugares 
               que deseen visitar.</p>
           </div>
         </div>
       </div>
     </div>
  

    <div class="card mb-3">
       <div class="row no-gutters">
         <div class="col-md-4">
           <div class="__imgRestaurant7"></div>
         </div>
         <div class="col-md-8">
           <div class="card-body">
             <h5 class="card-title">Acerca de nosotros</h5>
             <p class="card-text">Somos una empresa conformada por 
               muchos usuarios, que buscan ayudar 
               a las personas que quieran encontrar un 
               restaurante, que benefecie sus el estilos 
               de vida, ofreciendoles  alternativas  
               mejorando la búsqueda de los lugares 
               que deseen visitar.</p>
           </div>
         </div>
       </div>
     </div>
 

    <div class="card mb-3">
       <div class="row no-gutters">
         <div class="col-md-4">
           <div class="__imgRestaurant8"></div>
         </div>
         <div class="col-md-8">
           <div class="card-body">
             <h5 class="card-title">Acerca de nosotros</h5>
             <p class="card-text">Somos una empresa conformada por 
               muchos usuarios, que buscan ayudar 
               a las personas que quieran encontrar un 
               restaurante, que benefecie sus el estilos 
               de vida, ofreciendoles  alternativas  
               mejorando la búsqueda de los lugares 
               que deseen visitar.</p>
           </div>
         </div>
       </div>
     </div>

</section>

<%- include ('masterPage/footer') %>